@model Flow.ViewModels.WorkstationKioskViewModel

<div class="row align-items-center">
    <div class="col-sm">
        <div>
            <a asp-action="CheckInPart" class="btn btn-success mt-auto">Check In Part</a>
        </div>
    </div>
    <div class="col-sm">
        <a asp-action="CheckInPart" class="btn btn-success mt-auto">Check In Part</a>
    </div>
    <div class="col-sm">
        <a asp-action="CheckInPart" class="btn btn-success mt-auto">Check In Part</a>
    </div>
</div>

