@model Flow.ViewModels.WorkstationKioskViewModel

<div class="row align-items-center py-3">
    <div class="col-sm">
        <a asp-action="Logout" asp-route-id="@Model.Workstation.ID" class="btn btn-block btn-warning shadow">Check-out of Workstation</a>
    </div>
    <div class="col-sm">
        <a asp-action="CheckInPart" class="btn btn-block btn-success">Check-In Unit</a>
    </div>
</div>



