@model Flow.ViewModels.WorkstationKioskViewModel
<div class="row align-items-center py-3">
    <div class="col-sm d-flex text-center">
        <a asp-action="HoldPart" asp-route-id="@Model.Workstation.ID" class="btn btn-block btn-danger shadow ">Hold Tag (QA)</a>
    </div>
    <div class="col-sm">
        <a asp-action="Logout" asp-route-id="@Model.Workstation.ID" class="btn btn-block btn-warning shadow">Check-out of Workstation</a>
    </div>
    <div class="col-sm">
        <a asp-action="CheckOutPart" asp-route-id="@Model.Workstation.ID" class="btn btn-block btn-warning shadow">Check-out Part</a>
    </div>
    <div class="col-sm">
        <a asp-action="CompletePart" asp-route-id="@Model.Workstation.ID" class="btn btn-block btn-success">Complete Part</a>
    </div>
</div>


