<div id="clockdate">
    <div class="clockdate-wrapper">
        <div id="clock"></div>
        <div id="date"></div>
    </div>
</div>

<link rel="stylesheet" href="~/css/clockStyle.css" />
<script src="~/js/clock.js"></script>
