@model Flow.ViewModels.WorkstationKioskViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container" style="width: 50%; height: 500px">
    <div class="row dash-card bg-secondary text-dark" style="height: 400px">
        <div class="card-body container">
            <div class="row">
                <div class="col">
                    <h1 class="display-4 text-center">No Unit Checked-in</h1>
                    <div>
                        <table class="table">
                            <thead>
                                <tr>

                                </tr>
                            </thead>
                            <tbody>
                                

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>
