@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="img-fluid" src="~/flowgo.png" style="width: 80%"/>
    <p class="lead" style="font-size: 16pt"></p>
    <hr class="my-5">
    <div class="row">
        <div class="col-sm d-flex align-items-stretch">
            <div class="card shadow border-secondary">
                <div class="card-body flex-column">
                    <a asp-controller="Flow" class="btn btn-dark btn-lg btn-block">FLOW MANAGER</a>
                    <p class="card-text lead">Login to FLOW Manager to view metrics and manage the plant/application.</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card shadow border-secondary">
                <div class="card-body flex-column">
                    <a asp-controller="WorkstationKiosk" class="btn btn-dark btn-lg btn-block">WORKSTATION</a>
                    <p class="card-text lead">Setup this machine as a workstation kiosk for opertor's to log-in and track production.</p>
                </div>
            </div>
        </div>
    </div>
</div>
