@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <img class="img-fluid" src="~/flowgo.png" />
        <p class="lead">Exposing hidden factories since 2020.</p>
        <hr class="my-4">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body flex-column">
                        <a asp-controller="Flow" class="btn btn-dark btn-lg btn-block">FLOW MANAGER</a>
                        <p class="card-text lead">Login to FLOW Manager to view metrics and manage the plant/application.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body flex-column">
                        <a href="#" class="btn btn-dark btn-lg btn-block">WORKSTATION LOGIN</a>
                        <p class="card-text lead">Setup this machine as a workstation kiosk for opertor's to log-in and track production.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
